# Since the ".hytkybot.env" file is gitignored, you can use the ".hytkybot.env.example" file to
# build a new ".hytkybot.env" file when you clone the repo.
# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".hytkybot.env" and populate it with your secrets.

# Telegram bot token from @botfather
TG_BOT_TOKEN=

# Comma separated Telegram active group chat IDs from @username_to_id_bot. Usually negative numbers.
TG_ACTIVE_GROUP_IDS=

# Comma separated Telegram admin group chat IDs from @username_to_id_bot. Usually negative numbers.
TG_ADMIN_GROUP_IDS=

# Port for bot microservice to run on
PORT=3000