services:
  dev:
    platform: 'linux/amd64'
    build:
      context: ../
      dockerfile: docker/Dockerfile.dev
    ports:
      - '80:80'
    env_file:
      - ../.env
    volumes:
      - ../:/app
      - /app/node_modules/
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'wget --no-verbose --tries=1 --spider http://localhost:80/api/health || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: always
  postgres:
    image: 'postgres:16-alpine'
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    env_file:
      - ../.env
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d postgres -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
  hytkybot:
    platform: 'linux/amd64'
    image: 'ghcr.io/zeeket/hytkybot/hytkybot:latest'
    env_file:
      - ../.hytkybot.env
    restart: always
  gcalservice:
    platform: 'linux/amd64'
    build:
      context: ../gcalservice
      dockerfile: Dockerfile
    ports:
      - '3002:3002'
    env_file:
      - ../.gcalservice.env
    depends_on:
      dev:
        condition: service_healthy
    restart: always
