users:
  - name: dettmann
    shell: /bin/bash
    groups: sudo
    ssh_authorized_keys:
      - ${pub_key}
chpasswd:
  expire: false
  users:
  - {name: root, password:${ROOT_PASSWORD}, type: text}
  - {name: dettmann, type: RANDOM }
ssh_pwauth: false
write_files:
  - path: /opt/secrets/.env
    content: |
      ${indent(6, dotenv)}
  - path: /opt/secrets/.hytkybot.env
    content: |
      ${indent(6, hytkybot_dotenv)}