users:
  - name: dettmann
    shell: /bin/bash
    groups: sudo
    ssh_authorized_keys:
      - ${pub_key}
write_files:
  - path: /opt/secrets/.env
    content: |
      ${indent(6, dotenv)}
  - path: /opt/secrets/.hytkybot.env
    content: |
      ${indent(6, hytkybot_dotenv)}